.features {
    display: block;
    padding: 2rem 0;
    width: 100%;
}

.featureSvg {
    height: 200px;
    width: 200px;
}

.flexContainer {
    display: flex;
    margin: 0 auto;
    max-width: 400px;
    justify-content: space-between;
}

.mtop2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 966px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    display: none;
}

.subTitle {
    padding: 0;
}

@media screen and (min-width: 966px) {
    .subTitle {
        padding: 0 8rem !important;
    }
}

.featureImage {
    height: 200px;
    width: 200px;
}
