.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.subTitle {
  padding: 0;
}

@media screen and (min-width: 966px) {
  .subTitle {
    padding: 0 8rem !important;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.getStarted {
  margin-right: 1rem;
}


.readingGoals {
  font-size: xx-large;
  margin: 0 auto;
}
